In [1]:
import pandas as pd
import numpy as np
import requests
import json
import datetime


import warnings
warnings.filterwarnings('ignore')

In [26]:
animal_list = list()

savanna = list()
savanna_mammal = ['Aardvark','African Elephant','African Wild Dog','African Lion','Babboon','Black Rhino','Cougar','Kangaroo','Giraffe','Hippo','Howler Monkey','Impala','Leopard','Mandrill','Meerkat','Mongoose','Pronghorn','Thompsons gazelle','Warthog','Zebra']
savanna.append(savanna_mammal)
savanna_repitle = ['African Spurred Tortoise','Aldabra Tortoise','Blue-tongue Skink','Komodo Dragon','Dumeril Ground Boa','Frilled Lizard','Hog-Nosed Viper','Louisiana Pine Snake','Madagascar Ground Boa']
savanna.append(savanna_repitle)
savanna_bird = ['Harris Hawk','Bateleur Eagle','Redtailed Hawk','Great Horned Owl','Scarlet Macaw','Toco Toucan','Bufflehead','Abyssinian Ground Hornbill']
savanna.append(savanna_bird)
savanna_amphibian = ['African Bullfrog']
savanna.append(savanna_amphibian)
animal_list.append(savanna)

grassland = list()
grassland_mammal = ['Aardvark','African Elephant','African Wild Dog','Armadillo','Asian Elephant','Black Bear','Black Rhino','Cheetah','Cottontail Rabbit','Coyote','Kangaroo','Fox','Groundhog','Hedgehog','Horse','Indian Rhino','Impala','Jaguar','Leopard','Meerkat','Mongoose','Mountain Lion','Opposum','Porcupine','Prarie Dog','Prarie Dog','Racoon','Ring-tailed Lemur','Skunk','Bighorn Sheep','Thompsons Gazelle','Wildabeast','Zebra']
grassland.append(grassland_mammal)
grassland_reptile = ['Spotted Pond Turtle','Beaded Lizard','Blue-tongued Skink','Shingleback Skink','Baja Speckled Rattlesnake','Black Mamba','Black Milk Snake','California King Snake','King Cobra','Gray-Banded King Snake','Green Mamba','Hognosed Viper','Louisiana Pine Snake','Texas Lyre Snake','Western Diamondback']
grassland.append(grassland_reptile)
grassland_bird = ['Harris Hawk','Northern Harrier','Redtailed Hawk','Aplomado Falcon','Burrowing Owl','Barn Owl','Great Horned Owl','Hyacinth Macaw','Bufflehead','Demoiselle Crane','Kori Bustard','Abyssinian Ground Hornbill','Roadrunner','Azure-Winged Magpie']
grassland.append(grassland_bird)
grassland_amphibian = ['Agentine Leaf Frog','African Bullfrog']
grassland.append(grassland_amphibian)
animal_list.append(grassland)

tundra = list()
tundra_mammal = ['Arctic Fox','Arctic Hare','Bobcat','Cougar','Elk','Lynx','Moose','Porcupine']
tundra.append(tundra_mammal)
tundra_reptile = ['American Alligator','Diamond Python']
tundra.append(tundra_reptile)
tundra_bird = ['Northern Harrier','Redtailed Hawk','Great Horned Owl','Bufflehead','Andean Condor']
tundra.append(tundra_bird)
tundra_amphibian = ['Crocodile Salamander']
tundra.append(tundra_amphibian)
animal_list.append(tundra)

desert = list()
desert_mammal = ['Aardvark', 'African Elephant','Armadillo','Camel','Bobcat','Cheetah','Coyote','Hedgehog','Horse','Llama','Meerkat','Mongoose','Porcupine','Pronghorn','Bighorn Sheep','Thompsons Gazelle','Wallaby','Wildabeast','Zebra']
desert.append(desert_mammal)
desert_reptile = ['Desert Monitor','Gillamonster','Spiny-Tailed Lizard','Baja Speckled Rattlesnake','Black Mamba','Desert Horned Viper','Graybanded King Snake','Green Mamba','Hognosed Viper','King Cobra','Longnosed Snake','Manyhorned Viper','Trans-Pecos Copperhead']
desert.append(desert_reptile)
desert_bird = ['Harris Hawk','Redtailed Hawk','Aplomado Falcon','Barn Owl','Great Horned Owl','Bufflehead','Demoiselle Crane','Inca Dove','White-Winged Dove']
desert.append(desert_bird)
desert_amphibian = ['Desert Rain Frog']
desert.append(desert_amphibian)
animal_list.append(desert)

deciduous_forest = list()
deciduous_forest_mammal = ['Aye-Aye','Beaver','Black Bear','Bobcat','Brown Bear','Chimpanzee','Chipmunk','Wombat','Cottontail Rabbit','Cougar','Dingo','Elk','Fossa','Fox','Giant River Otter','Gibbon','Golden Lion Tamarin','Groundhog','Hedgehog','Horse','Indian Rhino','Koala','Lynx','Moose','Mountain Lion','North American River Otter','Opposum','Platypus','Porcupine','Prarie Dog','Pronghorn','Racoon','Red Panda','Skunk','Tasmanian Devil','Wallaby']
deciduous_forest.append(deciduous_forest_mammal)
deciduous_forest_repitle = ['American Alligator','Dwarf Caiman','Dwarf Crocodile','Gharial','Philippine Crocodile','African Spurred Tortoise','Aldabra tortoise','Alligator Snapper','Central American River Turtle','Fly River Turtle','Hawksbill Sea Turtle','Matamata Turtle','Pancake Tortoise','Spotted Pond Turtle','Beaded Lizard','Caiman Lizard','Cuban False Chameleon','Frilled Lizart','Henkels Leaf Tailed Gecko','Komodo Dragon','Madagascar Day Gecko','Rhinoceros Iguana','Texas Horned Lizard','Banded Rock Rattlesnake','Black-headed Python','Blood Python','King Cobra','Madagascar Ground Boa','Mexican Tiger Rat Snake','Northwest Neotropical Rattlesnake','Tentacled Snake','Western Diamondback']
deciduous_forest.append(deciduous_forest_repitle)
deciduous_forest_bird = ['Crowned Eagle','Northern Harrier','Bateleur Eagle','Bald Eagle','Japanese Mountain Hawk Eagle','Redtailed Hawk','Barn Owl','Great Horned Owl','Hyacinth Macaw','Military Macaw','Bufflehead','Laughing Gull','Brown Pelican','Blacknecked Swan','Black Swan,','Roseate Spoonbill','Snowy Egret','Boat Billed Heron','Chilean Flamingo','American Flamingo','Lesser Flamingo','White Pelican','Wattled Crane','Sandhill Crane','Red Crowned Crane','Kookaburra','Abyssinian Ground Hornbill','Roadrunner','Yellow-Billed Stork','Andean Condor','Saddleback Stork','Crowned Pigeon','White-Winged Dove','Magpie Jay','Azure-Winged Magpie','Argus Pheasant','Himalayan Monal']
deciduous_forest.append(deciduous_forest_bird)
deciduous_forest_amphibian = ['Madagascar Tomato Frog','African Bullfrog','Crocodile Salamander','Black Spotted Newt']
deciduous_forest.append(deciduous_forest_amphibian)
animal_list.append(deciduous_forest)

rainforest = list()
rainforest_mammal = ['Armadillo','Asian Elephant','Aye-Aye','Babboon','Beaver','Bengal Tiger','Chimpanzee','Clouded Leopard','Cougar','Kangaroo','Giant River Otter','Gibbon','Golden Lion Tamarin','Hippo','Horse','Leopard','Howler Monkey','Mandrill','Jaguar','Koala','Mountain Gorilla','Ocelot','Orangutan','Platypus','Racoon','Red Panda','Ring-tailed Lemur','Spider Monkey','Sun Bear','Tapir','Tasmanian Devil','Two-Toed Sloth','Three-Toed Sloth']
rainforest.append(rainforest_mammal)
rainforest_reptile = ['American Alligator','Dwarf Caiman','Gharial','Philippine Crocodile','Central American River Turtle','Fly River Turtle','Hawksbill Sea Turtle','Matamata Turtle','Pancake Tortoise','Spotted Pond Turtle','Giant Leaf-tailed Gecko','Green Iguana','Henkels Leaf-Tailed Gecko','Komodo Dragon','Oustalets Chameleon','Panther Chameleon','Parsons Chameleon','Solomon Island Skink','Standings Day Gecko','Banded Rock Rattlesnake','Black Mamba','Blood Python','Boelens Python','Burmese Python','Coral Snake','Eyelash Viper','Gaboon Viper','Green Mamba','Green Tree Python','Rhinoceros Viper','Tentacled Snake','Waglers Pit Viper']
rainforest.append(rainforest_reptile)
rainforest_bird = ['Harpy Eagle','Redtailed Hawk','Great Horned Owl','Spectacled Owl','Hyacinth Macaw','Scarlet Macaw','Military Macaw','Toco Toucan','Keel-Billed Toucan','Bufflehead','Silver Bahama Pintail','Laughing Gull','Brown Pelican','Blacknecked Swan','Black Swan','Scarlet Ibis','Roseate Spoonbill','Snowy Egret','Boat Billed Heron','Chilean Flamingo','American Flamingo','Lesser Flamingo','White Pelican','Wattled Crane','Sandhill Crane','Red Crowned Crane','Yellow-Billed Stork','Saddleback Stork','King Vulture','King Vulture','African Penguin']
rainforest.append(rainforest_bird)
rainforest_amphibian = ['Puero Rican Crested Toad','Bells Horned Frog','Amazon Horned Frog','Poison Dart Frog','Javan Gliding Frog','Black Spotted Newt']
rainforest.append(rainforest_amphibian)
animal_list.append(rainforest)


#End Lists

In [3]:
def get_list_of_major_cities():  
    website = 'https://www.infoplease.com/us/us-cities/top-50-cities-us-population-and-rank'
    data = pd.read_html(website, index_col=0)
    city = pd.DataFrame()
    city = city.append(data[0], ignore_index=True)
    city.columns = ['Cities','pop1','pop2','pop3','pop4','pop5','pop6']
    city = city.drop([0], axis=0)
    city = city.drop(['pop1','pop2','pop3','pop4','pop5','pop6'], axis=1)
    return city

In [4]:
def cityweather(cityname):
    key='89534505a9b84568b10223850183011'
    url='https://api.worldweatheronline.com/premium/v1/weather.ashx'
    today = datetime.datetime.now().strftime("%Y-%m-%d")
    p = {'q': cityname, 'date' : 2017-3-1,'enddate':2017-3-31, 'format' : 'json', 'key' : key}
    response = requests.get(url, params=p).json()
    return response

In [5]:
cities = get_list_of_major_cities()

max_temps = []
min_temps = []
rainfall = []
for city in cities['Cities']:
    print(city)
    response = cityweather(city)
    total_yearlyminF = 0
    total_yearlymaxF = 0
    total_yearlyrainfall = 0
    for month in response['data']['ClimateAverages'][0]['month']:
        total_yearlyminF += float(month['avgMinTemp_F'])
        total_yearlymaxF += float(month['absMaxTemp_F'])
        total_yearlyrainfall += float(month['avgDailyRainfall'])
    total_yearlyminF = total_yearlyminF/12
    total_yearlymaxF = total_yearlymaxF/12
    total_yearlyrainfall = total_yearlyrainfall/12
    max_temps.append(total_yearlymaxF)
    min_temps.append(total_yearlyminF)
    rainfall.append(total_yearlyrainfall)

cities['AvgYear_Max_Temp'] = pd.Series(data = max_temps, index = cities.index)
cities['AvgYear_Min_Temp'] = pd.Series(data = min_temps, index = cities.index)
cities['AvgYear_Rainfall'] = pd.Series(data = rainfall, index = cities.index)

biomes = []
for index, row in cities.iterrows():
    avg_temp = (row['AvgYear_Max_Temp'] + row['AvgYear_Min_Temp'])/2
    avg_rainfall = row['AvgYear_Rainfall']
    if (avg_temp >= 68 and avg_temp <= 85 and avg_rainfall >= 0.456712328767123 and avg_rainfall <= 1.295890410958904):
        biomes.append("Desert")
    elif (avg_temp >= 42.5 and avg_temp <= 75 and avg_rainfall >= 1.391780821917808 and avg_rainfall <= 3.435616438356164):
        biomes.append("Grasslands")
    elif (avg_temp >= 50 and avg_temp <= 82.5 and avg_rainfall >= 2.087671232876712 and avg_rainfall <= 8.175342465753425):
        biomes.append("Deciduous/Temperate Forest")
    elif (avg_temp >= 37.3 and avg_temp <= 60 and avg_rainfall >= 1.391780821917808 and avg_rainfall <= 3.479452054794521):
        biomes.append("Savanna")
    elif (avg_temp >= 82.6 and avg_temp <= 95 and avg_rainfall >= 9.479452054794521 and avg_rainfall <= 18.093150684931507):
        biomes.append("Rainforest")
    elif (avg_temp >= 10 and avg_temp <= 55 and avg_rainfall >= 0.69041095890411 and avg_rainfall <= 1.404109589041096):
        biomes.append("Alpine Tundra")
    else:
        biomes.append("Other")
cities['Biome'] = pd.Series(data = biomes, index = cities.index)
print(cities)

New York, N.Y.
Los Angeles, Calif.
Chicago, Ill.
Houston, Tex.
Philadelphia, Pa.
Phoenix, Ariz.
San Antonio, Tex.
San Diego, Calif.
Dallas, Tex.
San Jose, Calif.
Austin, Tex.
Jacksonville, Fla.
San Francisco, Calif.
Indianapolis, Ind.
Columbus, Ohio
Fort Worth, Tex.
Charlotte, N.C.
Detroit, Mich.
El Paso, Tex.
Seattle, Wash.
Denver, Colo.
Washington, DC
Memphis, Tenn.
Boston, Mass.
Nashville-Davidson, Tenn.1
Baltimore, Md.
Oklahoma City, Okla.
Portland, Ore.
Las Vegas, Nev.
Louisville-Jefferson County, Ky.2
Milwaukee, Wis.
Albuquerque, N.M.
Tucson, Ariz.
Fresno, Calif.
Sacramento, Calif.
Long Beach, Calif.
Kansas City, Mo.
Mesa, Ariz.
Atlanta, Ga.
Virginia Beach, Va.
Omaha, Nebr.
Colorado Springs, Colo.
Raleigh, N.C.
Miami, Fla.
Oakland, Calif.
Minneapolis, Minn.
Tulsa, Okla.
Cleveland, Ohio
Wichita, Kans.
New Orleans, La.
Arlington, Tex.
                               Cities  AvgYear_Max_Temp  AvgYear_Min_Temp  \
1                      New York, N.Y.         68.391667         50.683333
2                 Los Angeles, Calif.         82.575000         60.666667
3                       Chicago, Ill.         64.116667         46.025000
4                       Houston, Tex.         84.966667         64.933333
5                   Philadelphia, Pa.         70.458333         50.883333
6                      Phoenix, Ariz.         91.458333         63.350000
7                   San Antonio, Tex.         87.333333         62.450000
8                   San Diego, Calif.         78.975000         61.000000
9                        Dallas, Tex.         83.916667         60.408333
10                   San Jose, Calif.         78.750000         52.941667
11                       Austin, Tex.         86.091667         60.933333
12                 Jacksonville, Fla.         48.516667         33.150000
13              San Francisco, Calif.         74.566667         53.616667
14                 Indianapolis, Ind.         69.283333         47.308333
15                     Columbus, Ohio         68.675000         46.808333
16                   Fort Worth, Tex.         83.758333         59.183333
17                    Charlotte, N.C.         93.575000         70.891667
18                     Detroit, Mich.         64.900000         45.625000
19                      El Paso, Tex.         82.125000         55.083333
20                     Seattle, Wash.         67.566667         48.108333
21                      Denver, Colo.         70.191667         39.200000
22                     Washington, DC         72.858333         52.325000
23                     Memphis, Tenn.         78.525000         55.391667
24                      Boston, Mass.         64.058333         47.941667
25         Nashville-Davidson, Tenn.1         57.108333         33.516667
26                     Baltimore, Md.         70.775000         51.516667
27               Oklahoma City, Okla.         78.891667         53.708333
28                     Portland, Ore.         69.908333         47.800000
29                    Las Vegas, Nev.         83.233333         59.425000
30  Louisville-Jefferson County, Ky.2         72.566667         50.066667
31                    Milwaukee, Wis.         62.383333         42.766667
32                  Albuquerque, N.M.         94.100000         75.583333
33                      Tucson, Ariz.         87.008333         56.000000
34                     Fresno, Calif.         85.550000         56.891667
35                 Sacramento, Calif.         82.791667         53.783333
36                 Long Beach, Calif.         81.675000         61.225000
37                   Kansas City, Mo.         74.200000         48.966667
38                        Mesa, Ariz.         91.300000         62.300000
39                       Atlanta, Ga.         78.166667         56.608333
40                Virginia Beach, Va.         73.333333         58.033333
41                       Omaha, Nebr.         69.800000         44.225000
42            Colorado Springs, Colo.         64.841667         35.825000
43                      Raleigh, N.C.         92.316667         68.058333
44                        Miami, Fla.         48.516667         33.150000
45                    Oakland, Calif.         74.558333         53.475000
46                 Minneapolis, Minn.         62.408333         40.016667
47                       Tulsa, Okla.         78.575000         53.158333
48                    Cleveland, Ohio         64.116667         46.991667
49                     Wichita, Kans.         75.725000         49.950000
50                   New Orleans, La.         83.775000         65.983333
51                    Arlington, Tex.         83.808333         59.483333

    AvgYear_Rainfall                       Biome
1           3.825000  Deciduous/Temperate Forest
2           0.777500                      Desert
3           3.462500  Deciduous/Temperate Forest
4           3.428333                  Grasslands
5           3.614167  Deciduous/Temperate Forest
6           0.636667                      Desert
7           2.355000                  Grasslands
8           0.715833                      Desert
9           2.937500                  Grasslands
10          1.403333                  Grasslands
11          2.609167                  Grasslands
12          3.226667                     Savanna
13          1.633333                  Grasslands
14          3.578333  Deciduous/Temperate Forest
15          3.652500  Deciduous/Temperate Forest
16          2.758333                  Grasslands
17          3.445000  Deciduous/Temperate Forest
18          3.045000                  Grasslands
19          0.718333                      Desert
20          2.958333                  Grasslands
21          1.376667               Alpine Tundra
22          3.635833  Deciduous/Temperate Forest
23          3.861667  Deciduous/Temperate Forest
24          3.601667  Deciduous/Temperate Forest
25          1.654167                  Grasslands
26          3.875000  Deciduous/Temperate Forest
27          2.592500                  Grasslands
28          3.878333  Deciduous/Temperate Forest
29          0.478333                      Desert
30          3.688333  Deciduous/Temperate Forest
31          2.838333                  Grasslands
32          2.516667                       Other
33          0.671667                      Desert
34          1.268333                      Desert
35          1.790833                  Grasslands
36          0.772500                      Desert
37          3.125833                  Grasslands
38          0.702500                      Desert
39          3.779167  Deciduous/Temperate Forest
40          3.777500  Deciduous/Temperate Forest
41          2.918333                  Grasslands
42          3.055000                  Grasslands
43          7.069167  Deciduous/Temperate Forest
44          3.226667                     Savanna
45          1.545833                  Grasslands
46          2.563333                  Grasslands
47          2.920000                  Grasslands
48          3.549167  Deciduous/Temperate Forest
49          2.358333                  Grasslands
50          4.169167  Deciduous/Temperate Forest
51          2.844167                  Grasslands

In [6]:
cities.set_index("Cities", inplace=True)
cities

,AvgYear_Max_Temp,AvgYear_Min_Temp,AvgYear_Rainfall,Biome
Cities,,,,
"New York, N.Y.",68.391667,50.683333,3.825000,Deciduous/Temperate Forest
"Los Angeles, Calif.",82.575000,60.666667,0.777500,Desert
"Chicago, Ill.",64.116667,46.025000,3.462500,Deciduous/Temperate Forest
"Houston, Tex.",84.966667,64.933333,3.428333,Grasslands
"Philadelphia, Pa.",70.458333,50.883333,3.614167,Deciduous/Temperate Forest
"Phoenix, Ariz.",91.458333,63.350000,0.636667,Desert
"San Antonio, Tex.",87.333333,62.450000,2.355000,Grasslands
"San Diego, Calif.",78.975000,61.000000,0.715833,Desert
"Dallas, Tex.",83.916667,60.408333,2.937500,Grasslands
"San Jose, Calif.",78.750000,52.941667,1.403333,Grasslands
"Austin, Tex.",86.091667,60.933333,2.609167,Grasslands
"Jacksonville, Fla.",48.516667,33.150000,3.226667,Savanna
"San Francisco, Calif.",74.566667,53.616667,1.633333,Grasslands
"Indianapolis, Ind.",69.283333,47.308333,3.578333,Deciduous/Temperate Forest
"Columbus, Ohio",68.675000,46.808333,3.652500,Deciduous/Temperate Forest
"Fort Worth, Tex.",83.758333,59.183333,2.758333,Grasslands
"Charlotte, N.C.",93.575000,70.891667,3.445000,Deciduous/Temperate Forest
"Detroit, Mich.",64.900000,45.625000,3.045000,Grasslands
"El Paso, Tex.",82.125000,55.083333,0.718333,Desert
"Seattle, Wash.",67.566667,48.108333,2.958333,Grasslands
"Denver, Colo.",70.191667,39.200000,1.376667,Alpine Tundra
"Washington, DC",72.858333,52.325000,3.635833,Deciduous/Temperate Forest
"Memphis, Tenn.",78.525000,55.391667,3.861667,Deciduous/Temperate Forest
"Boston, Mass.",64.058333,47.941667,3.601667,Deciduous/Temperate Forest
"Nashville-Davidson, Tenn.1",57.108333,33.516667,1.654167,Grasslands
"Baltimore, Md.",70.775000,51.516667,3.875000,Deciduous/Temperate Forest
"Oklahoma City, Okla.",78.891667,53.708333,2.592500,Grasslands
"Portland, Ore.",69.908333,47.800000,3.878333,Deciduous/Temperate Forest
"Las Vegas, Nev.",83.233333,59.425000,0.478333,Desert
"Louisville-Jefferson County, Ky.2",72.566667,50.066667,3.688333,Deciduous/Temperate Forest
"Milwaukee, Wis.",62.383333,42.766667,2.838333,Grasslands
"Albuquerque, N.M.",94.100000,75.583333,2.516667,Other
"Tucson, Ariz.",87.008333,56.000000,0.671667,Desert
"Fresno, Calif.",85.550000,56.891667,1.268333,Desert
"Sacramento, Calif.",82.791667,53.783333,1.790833,Grasslands
"Long Beach, Calif.",81.675000,61.225000,0.772500,Desert
"Kansas City, Mo.",74.200000,48.966667,3.125833,Grasslands
"Mesa, Ariz.",91.300000,62.300000,0.702500,Desert
"Atlanta, Ga.",78.166667,56.608333,3.779167,Deciduous/Temperate Forest
"Virginia Beach, Va.",73.333333,58.033333,3.777500,Deciduous/Temperate Forest
"Omaha, Nebr.",69.800000,44.225000,2.918333,Grasslands
"Colorado Springs, Colo.",64.841667,35.825000,3.055000,Grasslands
"Raleigh, N.C.",92.316667,68.058333,7.069167,Deciduous/Temperate Forest
"Miami, Fla.",48.516667,33.150000,3.226667,Savanna
"Oakland, Calif.",74.558333,53.475000,1.545833,Grasslands
"Minneapolis, Minn.",62.408333,40.016667,2.563333,Grasslands
"Tulsa, Okla.",78.575000,53.158333,2.920000,Grasslands
"Cleveland, Ohio",64.116667,46.991667,3.549167,Deciduous/Temperate Forest
"Wichita, Kans.",75.725000,49.950000,2.358333,Grasslands
"New Orleans, La.",83.775000,65.983333,4.169167,Deciduous/Temperate Forest
"Arlington, Tex.",83.808333,59.483333,2.844167,Grasslands

In [34]:
print('Welcome to our IST 256 Demo Day Project\n')

while True:   
    city_input = input('Please enter a major U.S. city from the list of major cities. Dont forget to check your spelling. Use our poster board for help. To quit program please type ''Quit'': ')
    if city_input == ('Quit'):
        print('Thanks for using our program')
        break
    else:
        try:
            biome = cities.loc[(city_input),"Biome"]
            if biome == 'Savanna':
                print('\nThe following Mammals live in the savanna biome:\n')
                for animal in savanna_mammal:
                    print(animal)
                print('\nThe following Reptiles live in the savanna biome:\n')
                for animal in savanna_reptile:
                    print(animal)
                print('\nThe following Birds live in the savanna biome:\n')
                for animal in savanna_bird:
                    print(animal)
                print('\nThe following Amphibians live in the savanna biome:\n')
                for animal in savanna_amphibian:
                    print(animal)
            if biome == 'Grasslands':
                print('\nThe following Mammals live in the grassland biome:\n')
                for animal in grassland_mammal:
                    print(animal)
                print('\nThe following Reptiles live in the grassland biome:\n')
                for animal in grassland_reptile:
                    print(animal)
                print('\nThe following Birds live in the grassland biome:\n')
                for animal in grassland_bird:
                    print(animal)
                print('\nThe following Amphibians live in the grassland biome:\n')
                for animal in grassland_amphibian:
                    print(animal)
            if biome == 'Alpine Tundra':
                print('\nThe following Mammals live in the tundra biome:\n')
                for animal in tundra_mammal:
                    print(animal)
                print('\nThe following Reptiles live in the tundra biome:\n')
                for animal in tundra_reptile:
                    print(animal)
                print('\nThe following Birds live in the tundra biome:\n')
                for animal in tundra_bird:
                    print(animal)
                print('\nThe following Amphibians live in the tundra biome:\n')
                for animal in tundra_amphibian:
                    print(animal)
            if biome == 'Deciduous/Temperate Forest':
                print('\nThe following Mammals live in the deciduous forest biome:\n')
                for animal in deciduous_forest_mammal:
                    print(animal)
                print('\nThe following Reptiles live in the deciduous forest biome:\n')
                for animal in deciduous_forest_repitle:
                    print(animal)
                print('\nThe following Birds live in the deciduous forest biome:\n')
                for animal in deciduous_forest_bird:
                    print(animal)
                print('\nThe following Amphibians live in the deciduous forest biome:\n')
                for animal in deciduous_forest_amphibian:
                    print(animal)
            if biome == 'Desert':
                print('\nThe following Mammals live in the desert biome:\n')
                for animal in desert_mammal:
                    print(animal)
                print('\nThe following Reptiles live in the desert biome:\n')
                for animal in desert_reptile:
                    print(animal)
                print('\nThe following Birds live in the desert biome:\n')
                for animal in desert_bird:
                    print(animal)
                print('\nThe following Amphibians live in the desert biome:\n')
                for animal in desert_amphibian:
                    print(animal)
            if biome == 'Rainforest':
                print('\nThe following Mammals live in the rainforest biome:\n')
                for animal in rainforest_mammal:
                    print(animal)
                print('\nThe following Reptiles live in the rainforest biome:\n')
                for animal in rainforest_reptile:
                    print(animal)
                print('\nThe following Birds live in the rainforest biome:\n')
                for animal in rainforest_bird:
                    print(animal)
                print('\nThe following Amphibians live in the rainforest biome:\n')
                for animal in rainforest_amphibian:
                    print(animal)
        except KeyError:
            print('Please check your spelling and spaces. If you need help refer to the poster.')

Welcome to our IST 256 Demo Day Project

Please enter a major U.S. city from the list of major cities. Dont forget to check your spelling. Use our poster board for help. To quit program please type Quit: Colorado Springs, Colo.

The following Mammals live in the grassland biome:

Aardvark
African Elephant
African Wild Dog
Armadillo
Asian Elephant
Black Bear
Black Rhino
Cheetah
Cottontail Rabbit
Coyote
Kangaroo
Fox
Groundhog
Hedgehog
Horse
Indian Rhino
Impala
Jaguar
Leopard
Meerkat
Mongoose
Mountain Lion
Opposum
Porcupine
Prarie Dog
Prarie Dog
Racoon
Ring-tailed Lemur
Skunk
Bighorn Sheep
Thompsons Gazelle
Wildabeast
Zebra

The following Reptiles live in the grassland biome:

Spotted Pond Turtle
Beaded Lizard
Blue-tongued Skink
Shingleback Skink
Baja Speckled Rattlesnake
Black Mamba
Black Milk Snake
California King Snake
King Cobra
Gray-Banded King Snake
Green Mamba
Hognosed Viper
Louisiana Pine Snake
Texas Lyre Snake
Western Diamondback

The following Birds live in the grassland biome:

Harris Hawk
Northern Harrier
Redtailed Hawk
Aplomado Falcon
Burrowing Owl
Barn Owl
Great Horned Owl
Hyacinth Macaw
Bufflehead
Demoiselle Crane
Kori Bustard
Abyssinian Ground Hornbill
Roadrunner
Azure-Winged Magpie

The following Amphibians live in the grassland biome:

Agentine Leaf Frog
African Bullfrog
Please enter a major U.S. city from the list of major cities. Dont forget to check your spelling. Use our poster board for help. To quit program please type Quit: Quit
Thanks for using our program